@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --btn-bgcolor: #e02c6d;
  --btn-color: #fff;
  --text-color: #3a3a3a;
}

/* shared styles ------------- */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 90%;
  max-width: 1440px;
  margin: 4rem auto;
}
.image {
  max-width: 100%;
}
.text {
  max-width: 90%;
  color: var(--text-color);
  padding: 0.8em 0em;
}
.btn {
  background-color: var(--btn-bgcolor);
  color: var(--btn-color);
  padding: 0.7em 1em;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  color: var(--btn-bgcolor);
  background-color: var(--btn-color);
}

/*================
 nav styles
 ================ */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0em;
  margin: 0 auto;
}
.nav-title {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1.3rem;
  font-weight: 700;
}
.nav-content {
  display: flex;
  align-items: center;
  max-width: 80%;
  gap: 1.2em;
}
.nav-list-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #3a3a3a;
}

/*=============
 banner styles 
 ==============  */
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-image: url("./images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: right;
  margin: 0 auto;
}
.banner-content h2 {
  font-weight: 700;
  font-size: 3rem;
  color: var(--text-color);
}

/* ======================
 sponsers section styles
 ======================== */

.sponser-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 1.3rem;
  padding: 0.8em 0em;
}
/* collection container styles ====== */
.collection-section-title {
  text-align: center;
}
.collection-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.card {
  padding: 0.8em 0.8em;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  
}
.collection-desc {
  max-width: 100%;
  color: var(--text-color);
}
/* ===================
feature section styles
======================  */
.feature-container{
    display: flex;
    align-items: center;
     gap: 5rem;
     padding: 1em;
    
}

/* media queries =============================== */

/* for small devices  */
@media screen and (max-width: 576px) {
  .nav-container,
  .banner-container {
    flex-direction: column;
  }
  .banner-container {
    text-align: center;
    margin: 1.8em auto;
    background-image: none;
    height: auto;
  }
  .banner-pic {
    padding: 1em;
  }
  .collection-container{
    grid-template-columns: 1fr;
  }
   .card{
    text-align: center;
   }
}

/* for medium devices  */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .banner-container {
    background-image: none;
  }
  .collection-container{
    grid-template-columns: repeat(2,1fr);
  }
 
}
