@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root{
    --btn-bgcolor:#E02C6D;
    --btn-color: #FFF;
    --text-color:#3A3A3A;
}


/* shared styles ------------- */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}
.image{
    max-width: 100%;
}
.text{
    max-width:90%;
    color: var(--text-color);
    padding: .8em 0em;

}
.btn{
    background-color: var(--btn-bgcolor);
    color: var(--btn-color);
    padding: .7em 1em;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    color: var(--btn-bgcolor);
    background-color: var(--btn-color);
}

/*================
 nav styles
 ================ */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0em;
}
.nav-title {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1.3rem;
  font-weight: 700;
}
.nav-content{
    display: flex;
    align-items: center;
    max-width: 80%;
    gap: 1.2em;
   
}
.nav-list-item{
    list-style: none;
    
}
.nav-link{
    text-decoration: none;
    color: #3A3A3A;
}

/*=============
 banner styles 
 ==============  */
 .banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-image: url("./images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: right;
    
 }
 .banner-content h2{
    font-weight: 700;
    font-size: 3rem;
    color: var(--text-color);
 }
 .banner-pic{
    padding-right: 1.3em;
 }


/* media queries =============================== */

/* for small devices  */
@media screen and (max-width:576px) {
    .nav-container,.banner-container{
        flex-direction: column;
        
    }
    .banner-container{
        text-align: center;
        margin: 1.8em auto;
         background-image: none;
    }
    .banner-pic{
        padding: 1em;
    }
}

/* for medium devices  */
@media screen and (min-width:577px) and (max-width:992px) {
     .banner-container{
        background-image: none;
     }
}